html, body {
    height: 100%;
  }
  

*:focus {
    outline:none;
}

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    color: black;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    padding; 0px;
    background-color: white;
    padding: 2px;
    opacity: 70%;
}




.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


#greeting {
    margin: 180px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45pt;
}

#login-form {
    margin: 100px 0px 0px 0px;
}

h1#greeting.hidden {
    margin: 100px 0px 0px 0px;
}



#login-form input {
    opacity: 60%;
    text-align: center;
    font-size: 40px;
}

.login-button {
    display: none;
}

.centerize-form {
    display: flex;
    justify-content: center;
}


.hidden {
    display: none;
    justify-content: center;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    padding: 5px;
    margin-bottom: 5px;
}

#todo-form {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: center;
    font-size: 10px;
    opacity: 80%;
}



#todo-form input {
    width: 300px;
    text-align: center;
}



#quote {
    display: relative;
    justify-content: center;
    align-items: end;
    bottom: 
}


#quote span:first-child {
    font-style: italic;
    font-size: 15px;
}


#quote span:last-child {
    font-size: 10px;
}



footer {
    width: 100vw;
    display: block;
    justify-content: center;
    text-align: center;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
}